{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_clearlesson/elements/browser_sidebar.mustache

    Moodle template for the list of valid options in an autocomplate form element.
}}
<div class="browser-sidebar d-flex flex-column justify-content-between align-content-start align-items-start"
style="z-index:3;">
    <div id="sibebar-parent">
        <div class="browser-filters inwisible-small flex-column" aria-expanded="false" style="position: fixed;">
            {{> mod_clearlesson/elements/searchbar}}
            <br>
            {{#filters}}
                {{> mod_clearlesson/elements/browser_filter}}
            {{/filters}}
            {{#filtersexist}}
                <div class="w-100 d-flex flex-nowrap px-1 sidebar-element">
                    <button class="btn btn-outline-info mr-3 mb-2 flex-grow-1" id="clear-filters"
                    style="height: 36.5px; width:calc(50% - 0.25em)">{{#str}} clearfilters, mod_clearlesson {{/str}}</button>
                    <button class="btn btn-outline-info mb-2 flex-grow-1" id="clear-search"
                    style="height: 36.5px; width:calc(50% - 0.25em)">{{#str}} clearsearch, mod_clearlesson {{/str}}</button>
                </div>
                <button class="btn btn-outline-info mx-1 sidebar-element" id="clear-all"
                style="height: 36.5px; width:calc(100% - 0.5em)">{{#str}} clearall, mod_clearlesson {{/str}}</button>
            {{/filtersexist}}
        </div>
    </div>
    <div></div>
</div>