{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_clearlesson/othervideo_card

    Moodle template for the list of valid options in an autocomplate form element.
}}
<div class="video-card-side video-card-list has-position" data-position="{{position}}" data-type="{{type}}">
    {{#playlistref}}
        <div class="playlist-play-content-video-number">
            {{#active}}<i class="fas fa-play"></i>{{/active}}
            {{^active}}{{position}}{{/active}}
        </div>
    {{/playlistref}}
    <div class="play-{{#playlists}}playlist-{{/playlists}}video-card-image">
        <a href="javascript:void(0)" class="play-icon" data-externalref="{{vimeoref}}">
            <i class="fas fa-play-circle"></i>
        </a>
        <div class="time">{{convertedduration}}</div>
        <a class="video-player-link" href="javascript:void(0)" data-externalref="{{vimeoref}}">
            <img class="img-fluid" src="{{smallthumbnail}}" alt="{{name}}"
            {{^playlistref}} style="display: inline-block; max-height: calc(100% - 6px);"{{/playlistref}}>
        </a>
        {{^progress}}
            <div class="progress-none"></div>
        {{/progress}}
        {{#progress}}
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{progresspercent}}%;"
                    aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="{{duration}}">
                </div>
            </div>
        {{/progress}}
    </div>
    <div class="video-card-body">
        <div class="play-{{#playlists}}playlist-{{/playlists}}video-card-body" style="position: relative;">
            <div class="video-title">
                <a href="javascript:void(0)" class="v video-player-link" data-externalref="{{vimeoref}}" style="font-size: 13px;">{{name}}</a>
            </div>
            {{> mod_clearlesson/elements/icons/watched_check}}
        </div>
    </div>
</div>
