{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_clearlesson/elements/topic_card

    Moodle template for the list of valid options in an autocomplate form element.
}}
<div class="col-xl-3 col-sm-6 mb-3 video-card-wrapper topic-card {{#hidden}}d-none{{/hidden}}" 
data-hiddenby="{{hiddenby}}" id="resource-{{id}}" {{#hidden}}aria-hidden="true"{{/hidden}}>
    <div class="card" style="height: 100px">
        <div class="card-body">
            <div class="video-title d-flex justify-content-between" style="font-size:13px;">
                <a class="mr-3 searchable card-title mb-0 video-details-view " href="javascript:void(0)" data-view="{{externalref}}"
                style="font-size:17px; position: absolute; top: 0.75em; left: 1em">{{name}}</a>
                <a class="video-details-view ml-2" data-view="{{externalref}}"
                style="position: absolute; top: 1em; right: 1.25em"><i class="fas fa-video"></i>&nbsp{{countstring}}</a>
            </div>
        </div>
        <button class="card-menu-button topic searchable btn btn-secondary" data-view="{{externalref}}">{{menubuttonstring}}</button>
        {{#showselectbutton}}
            {{> mod_clearlesson/elements/select_resource_button }}
        {{/showselectbutton}}
    </div>
</div>