nav.navbar.fixed-top,
#page-navbar,
.secondary-navigation,
#page-header,
.drawer-toggles,
#page-footer {
    display: none!important;
}

#clearlesson-page-container {
    padding-top: 0px!important;
}

.completion-info,
#topofscroll,
#page-content {
    padding-top: 0px!important;
    padding-bottom: 3px!important;
}

#page {
    margin-top: 0px!important;
}

body.mod-clearlesson-bodyrestricted .main-inner {
    min-height: calc(100vh - 64px);
}

.mod-clearlesson .player-row {
    padding-bottom: 1em;
}

.mod-clearlesson .player-row > *,
.mod-clearlesson .player-row,
.mod-clearlesson .player-column {
    max-height: calc(100vh - 64px);
    height: calc(100vh - 64px);
}

.mod-clearlesson #menu-container {
    padding: 1em;
}

/* on bootstrap sm */
@media (min-width: 576px) {
    .mod-clearlesson-bodyrestricted.is-video .automatic-completion-conditions {
        margin-left: 8.33%!important;
    }
}

@media (max-width: 575px) {
    .mod-clearlesson-bodyrestricted .automatic-completion-conditions {
        margin-left: 0px!important;
    }
    .mod-clearlesson-bodyrestricted.is-video .activity-header {
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
    }
}